# This file is part of fdb-utils.
# https://github.com/cdecu/fdb-utils

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2016, Carlos de Cumont <carlos@decumont.be>

[run]
omit =
    *tests.py
branch = True
source =
    fdb_utils

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
